{% extends 'layout.html' %}
{% block title %}District List{% endblock %}

{% block content %}
    {% for contact in obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.no }}<br/>
    {% endfor %}

    <ul class="pagination">
        {% if obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled">Previous</a>
            </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="#">{{ obj.number }} of {{ obj.paginator.num_pages }}</a>
        </li>

        {% if obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled">Next</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}